<div class="container mt-2 shadow ">
  <h3>Mis restaurantes</h3>
  <%= link_to "Agregar", new_restaurant_path, class: "btn btn-primary btn-sm" %>
  <hr>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Photo</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Created At</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <th scope="row"><%= image_tag restaurant.photo, size: "40x40" %></th>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address%></td>
        <td><%= restaurant.created_at.strftime("%d/%m/%y")%></td>
        <td>
          <%= link_to restaurant_path(restaurant.id) do %>
            <i class="fa-solid fa-eye"></i>
          <% end %> |
          <%= link_to edit_restaurant_path(restaurant.id), class: "text-warning" do %>
            <i class="fa-solid fa-pencil"></i>
          <% end %>
          |
          <%= link_to restaurant_path(restaurant.id), class: "text-danger" do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
